# Ignore Vagrant settings
.vagrant/

# Ignore anything in "content/" subfolder, except for "content/README"
!/content/README
/content/

# Ignore "dspace/" and "dspace-src/" subfolders, except for the READMEs
!/dspace/.gitkeep
/dspace/

!/dspace-src/.gitkeep
/dspace-src/

# ignore IDE folders
.idea
