# Ignore Vagrant settings
.vagrant/

# Ignore anything in "content/" subfolder, except for "content/README"
!/content/README
/content/

# Ignore "dspace/" and "dspace-src/" subfolders, except for the READMEs
!/dspace/README
/dspace/

!/dspace-src/README
/dspace-src/
