---
# local.yaml.example, if you'd like to override the settings in common.yaml, 
# this is how you do it. Just rename this file to local.yaml and you're in 
# business. 

# The file local.yaml is in .gitignore, so you won't accidentally commit it.

# First, you're probably going to want to work with your OWN fork of DSpace, 
# not the official DSpace repository, so just change the git_repo to match your
# fork. The example below won't work until you edit it.
git_repo          : 'git@github.com:yourgithubusername/DSpace.git'
git_branch        : 'master'
mvn_params        : '-Denv=vagrant'

# NOTE: if you change 'git_branch' above, you MAY need to modify this 'ant_installer_dir'
# setting. It must be set to the directory where the Ant-based installer ends up, after
# 'mvn package' is run. For now, this is hardcoded (see DS-1760 ticket).
ant_installer_dir : '/home/vagrant/dspace-src/dspace/target/dspace-installer'

admin_firstname   : 'YourFirstName'
admin_lastname    : 'YourLastName'
admin_email       : 'youremail@your-institution.edu'
admin_passwd      : 'changeme'
admin_language    : 'en'

